@import 'tailwindcss';

html {
    position: relative;
}

html::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('assets/bg.png'); */
    background-color: #d4c6b6;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

@font-face {
    font-family: 'Pangolin-Regular';
    src: url('/Pangolin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-custom: 'Pangolin-Regular', var(--font-sans);
}
